.formStyle {
    text-align: center;
}

.formComponents {
    width: 40%;
    background-color: azure;
    height: 50%;
    border: 6px solid burlywood;
    margin-top: 5%;
    margin-left: 30%;
}

#button {
    text-align: center;
}

